
html{
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  margin: auto;
  margin-top: 25px;
  background-color:rgba(0, 0, 0, 0.6);
  width: 900px;
  height: 600px;
  border-radius: 10px;}

header{
  text-align: center;
  display: block;
}

h1{
  color:#47cf16;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
}

header > div{
  background-color:#47cf16;
  padding:8px;
  margin-left: 50px;
  margin-right: 50px;
}

input{
  font-size: 10px;
}

header img{
  width: 180px;
  margin-top: 60px;
}
main{
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 14px;
}
main div{
  margin-bottom:4px;
  margin-top: 4px;
}

.section{
  margin-top:15px;
}
h3{
  display: inline;
  margin-left: 5px;
}

#loading-bar{
 background-color:#ebba29;
 height:25px;
 width: 300px;
 border-radius: 5px;
}

#loading-bar1{
 background-color:#1ab720;
 height:25px;
 width: 500px;
 border-radius: 5px;
}

#loading-bar2{
 background-color:#227426;
 height:25px;
 width: 150px;
 border-radius: 5px;
}
